.input {
  border-radius: var(--radius-sm);
  background: var(--color-background);
  border-color: var(--color-border);
  color: var(--color-text);

  &:focus,
  &:hover {
    border-color: var(--color-primary);
  }
}
